.events {
  height: 100vh;
  background: linear-gradient(#262423 16%, black 86%);
  background-size: cover;
  background-position: center;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  display: flex;
  align-items: center;
  padding: 0 3%;

  .title {
    font-size: 30px;
    margin-bottom: 30px;
    text-align: justify;
  }

  .tiles {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0.75rem;

    & > li {
      flex-basis: 170px;
      list-style: none;
    }

    & li img {
      object-fit: cover;
      max-width: 100%;
      height: auto;
      vertical-align: middle;
      border-radius: 5px;
    }
  }
}
