.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 1rem 9%;
  color: var(--color-white);
  background: var(--background-grad);
}

.footerText p {
  font-size: 1.6rem;
}

.private a {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 19px;
  text-decoration: none;
  font-weight: 600;
  letter-spacing: 1px;
}
.info p {
  margin: 20px 0 40px;
}