.header {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 30;
  padding-right: 1rem;
  padding-left: 1rem;
  background-color: #5555552c;
  flex-direction: column;
  width: 100vw;

  .logo {
    position: relative;
    text-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
    text-decoration: none;
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 2rem;
    text-transform: uppercase;
    color: #ededed;
  }

  .menu {
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    text-transform: uppercase;
    font-size: 24px;
    padding-right: 20px;

    a {
      color: #ededed;
      text-decoration: none;
      font-weight: 500;
      transition: 0.3s;
      padding: 1rem;

      &:hover {
        background-color: #69696956;
        border: 1 solid gray;
        transform: scale(1.1);
      }
    }
    
    @media (min-width: 340px) {
      display: none;
    }
    @media (min-width: 768px) {
      display: flex;
    }
  }

  .navbar {
    display: none;
    flex-direction: column;
    justify-content: flex-end;
    align-items: end;
    margin-top: 1rem;
    background-color: black;
    a {
      font-size: 18px;
      color: #ededed;
      text-decoration: none;
      text-transform: uppercase;
      font-weight: 500;
      width: 100%;
      text-align: end;
      margin-left: 35px;
      transition: 0.3s;
      padding: 1rem;
    }
    a:hover,
    a.active {
      color: yellow;
      background-color: #6c86a1;
    }
  }

  .navbarOpen {
    display: flex;
  }

  .menuIcon {
    font-size: 32px;
    color: #ededed;
    cursor: pointer;
  }
}

.headerScroll {
  background-color: black;
  opacity: 0.9;
}
